@media screen and (max-width: 1399px) {
  .list-of-courses {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1199px) {
  .udemy-business {
    display: none;
  }

  .list-of-courses {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .nav-items {
    display: none;
  }

  .group-of-courses dl {
    flex-direction: column;
    line-height: 20px;
  }

  .main-section h1 {
    font-size: 1.5rem;
  }
  .main-section p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .drawer-menu,
  .search-icon {
    display: inline;
  }

  .nav-item-Categories,
  .container-search,
  .nav-bottoms {
    display: none;
  }

  .group-of-courses dl {
    flex-direction: column;
    line-height: 20px;
  }
  .main-section {
    margin-bottom: 140px;
  }
  .main-section-div {
    top: 100%;
    left: 0;
    width: 100%;
  }
  .main-section h1 {
    font-size: 2.2rem;
  }
  .main-section p {
    font-size: 1.2rem;
  }
  .lang {
    margin-bottom: 25px;
  }
  .items-lang {
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .footer-list-items {
    flex-direction: column;
    justify-content: space-between;
  }
  .foo-udemy-icon {
    flex-direction: column;
  }
  .list-of-courses {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .main-section h1 {
    font-size: 1.6rem;
  }
  .main-section p {
    font-size: 1.02rem;
  }
  .hint-for-this-section,
  .description-course-content {
    display: none;
  }

  .list-of-courses {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 380px) {
  .main-section {
    margin-bottom: 190px;
  }
}
